:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
  padding: 40px 0;
}

.card {
  border-radius: 16px;
  background-color: white;
}

h1,
h4 {
  color: #212529;
}

p {
  line-height: 1.7;
}
