<div class="container-fluid">
  

  <div class="row">
    
    <!-- Main Content -->
    <main class="col-md-9 col-lg-9 px-md-4 py-4">
      <div class="d-flex flex-wrap justify-content-center">
        @for (img of product()!.images; track $index) {
          <img [src]="img" alt="" width="400" height="400" class="m-3" />
        }
      </div>


      <div>
        <h1>Product Details</h1>
      <p>{{ product()!.description }}</p>
      </div>
      <br>
      <div >
        <h4 class=" fw-bold mb-3 letter-spacing-1">REVIEWS</h4>
        @for(review of product()!.reviews;track $index){
        <!-- Set the rating value here (e.g., 3.2, 4.5, 0.8) -->
         <div class="card border mb-3 shadow-sm">
      <div class="card-body">
             <div
              class="star-display"
              style="--rating: {{review.rating}}"
              aria-label="{{ review.rating }} out of 5 stars"
            ></div>
            <div>
              {{review.comment}}
            </div>
      </div>
         </div>
        }
      </div>
    </main>

    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-3 d-md-block bg-light sidebar border-start min-vh-100">
      <div class="position-sticky pt-3">
        <h5 class="px-3">{{ product()!.title }}</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <label>${{ product()!.price }}</label>
          </li>
          <li class="nav-item">  
            <!--rating-->         
          </li>
          <li class="nav-item">
            <p>Quantity</p>
            <button class="btn btn-secondary" (click)="reduceQuantity()">-</button>
            <label>{{ Quantity() }}</label>
            <button class="btn btn-secondary" (click)="addQuantity()">+</button>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="#">add to Cart</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
